.cart-bubble {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--red);
	padding: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	color: var(--white);
	font-size: 14px;
	border-radius: 50%;
	position: absolute;
	right: 2rem;
	top: 2rem;
}

.cart-icon {
	font-size: 2rem;
	position: relative;
}
